.filter-data-range .DateRangePicker{
    width: 100%;
}
.filter-data-range .DateRangePickerInput__withBorder{
    border: initial;
}
.filter-data-range .DateRangePickerInput{
    width: 100%;
}
.filter-data-range .DateInput{
    width: 138px !important;
}
.filter-data-range .DateInput_input{
    margin-bottom: 0px !important;
    width: 138px !important;
    padding-right: 20px !important;
}
@media (max-width: 768px) {
    .filter-data-range .DateInput{
        width: 100% !important;
        margin: 5px 0;
    }
    .filter-data-range .DateInput_input{
        margin-bottom: 0px !important;
        width: 100% !important;
        padding-right: 20px !important;
        margin: 5px 0;
    }
}

.filter-data-range .CalendarDay__selected_span {
    background: #ca0b0b;

}

.filter-data-range .CalendarDay__selected {
    background: #ca0b0b;
    color: white;
}

.filter-data-range .CalendarDay__selected:hover {
    background: #ca0b0b;
    color: white;
}

.filter-data-range .CalendarDay__hovered_span:hover,
.filter-data-range .CalendarDay__hovered_span {
    background: #ca0b0b;;
}

.filter-data-range .DayPicker_weekHeader_li{
    margin-top: 0px !important;
}